@model IEnumerable<SurveyModel>

<div class="container mt-4">
    <h3 class="mb-4">List Surveys</h3>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a asp-action="Create" asp-controller="Survey">Add Survey</a>
    </div>

    @* <table class="table table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Survey Title</th>
                <th scope="col">Survey Description</th>
                <th scope="col">Created Date</th>
                <th scope="col">Expired Date</th>
                <th scope="col">Survey Role</th>
                <th scope="col">Is Active</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.CreatedDate.ToString("MM/dd/yyyy")</td>
                    <td>@item.ExpiredDate.ToString("MM/dd/yyyy")</td>
                    <td>@item.RoleId</td>
                    <td>
                        <span class="badge @((item.IsActive) ? "bg-success" : "bg-danger")">
                            @(item.IsActive ? "Active" : "Inactive")
                        </span>
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-controller="Survey" asp-route-Id="@item.Id" class="btn btn-sm btn-warning me-1">Edit</a>
                        <a asp-action="Details" asp-controller="Survey" asp-route-id="@item.Id" class="btn btn-sm btn-info me-1">Details</a>
                        <a asp-action="Delete" asp-controller="Survey" asp-route-Id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        <a asp-action="SurveyResponses" asp-controller="Survey" asp-route-Id="@item.Id" class="btn btn-sm btn-success">Responses</a>
                    </td>
                </tr>
            }
        </tbody>
    </table> *@

    <!-- Active SURVEYS START-->
            <div class="container-xxl py-6">
                <div class="container">
                    <div class="row g-4">
                        @foreach (var item in Model)
                        {
                            <!-- Survey Item 1 -->
                            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="card border-0 shadow-sm">
                                    <img class="img-fluid" src="/img/E_3.jpg" alt="image_Survey" loading="lazy" style="margin: 10px 10px 10px 10px;">
                                    <div class="card-body" style="background-color: #F9F9F9;margin: 10px 10px 10px 10px;">
                                        <h5 class="card-title">@item.Title</h5>
                                        <!-- Survey Details -->
                                        <div class="d-flex justify-content-between px-4">
                                            <div class="left text-start">
                                                <p class="mb-2">No.</p>
                                                <p class="mb-2">Description</p>
                                                <p class="mb-2">Created Date</p>
                                                <p class="mb-2">Expired Date</p>
                                                <p class="mb-2">Survey Role</p>
                                                <p class="mb-2">Status</p>
                                            </div>
                                            <div class="right text-end">
                                                <p class="mb-2">@item.Id</p>
                                                <p class="mb-2">@item.Description</p>
                                                <p class="mb-2">@item.CreatedDate.ToString("MM/dd/yyyy")</p>
                                                <p class="mb-2">@item.ExpiredDate.ToString("MM/dd/yyyy")</p>
                                                <p class="mb-2">@item.RoleId</p>
                                                @* <p class="mb-2 points " style="color: #28a745;">Active</p> *@
                                                <p class="mb-2" style="color: @(item.IsActive ? "green" : "red")">
                                                    @(item.IsActive ? "Active" : "Inactive")
                                                </p>

                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <a asp-action="Edit" asp-controller="Survey" asp-route-Id="@item.Id" class="btn btn-sm btn-warning me-1" style="border-radius: 10px; color: white;">Edit</a>
                                            <a asp-action="Details" asp-controller="Survey" asp-route-id="@item.Id" class="btn btn-sm btn-info me-1" style="border-radius: 10px; color: white;">Details</a>
                                            <a asp-action="Delete" asp-controller="Survey" asp-route-Id="@item.Id" class="btn btn-sm btn-danger" style="border-radius: 10px; color: white;">Delete</a>
                                            <a asp-action="SurveyResponses" asp-controller="Survey" asp-route-Id="@item.Id" class="btn btn-sm btn-success" style="border-radius: 10px; color: white;">Responses</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- --- -->
                        }
                        
                    </div>
                </div>
            </div>
    <!-- Active SURVEYS END-->
</div>
