@using SurveyProject.Models.ViewModels
@model List<RoleGroupViewModel>

<form class="shadow p-4 rounded bg-light">
    <h2 class="page-title text-primary fw-bold">List Faculty Account</h2>
    <a asp-action="Create" asp-controller="User" class="btn btn-success">
        <i class="bi bi-plus-circle me-2"></i> Create Account
    </a>

    <div class="mt-4">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link @(string.IsNullOrEmpty(ViewBag.SelectedRole) ? "active" : "")" 
                       asp-action="Index" asp-route-role="">
                        All Roles
                    </a>
                </li>
                @foreach (var role in ViewBag.Roles)
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.SelectedRole == role ? "active" : "")" 
                           asp-action="Index" asp-route-role="@role">
                            @role
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>

    @foreach (var roleGroup in Model)
    {
        <h3 class="text-secondary mt-4">@roleGroup.RoleName</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var user in roleGroup.Users)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            <a asp-action="Edit" asp-controller="User" asp-route-Id="@user.Id" class="btn btn-primary" style="border-radius: 10px; color: white;">
                                Edit Profile
                            </a>
                            <a asp-action="Delete" asp-controller="User" asp-route-Id="@user.Id" class="btn btn-danger" style="border-radius: 10px; color: white;">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</form>
