@model IEnumerable<SurveyProject.Models.FeedbackModel>

@{
    ViewData["Title"] = "Manage Feedback";
}

<h1 class="text-center mb-4">Customer Feedback</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>UserName</th>
@*              <th>Content</th>*@
                <th>Submitted At</th>
                <th>User ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feedback in Model)
            {
                <tr>
                    <td>@feedback.Id</td>
                    <td>@feedback.UserName </td>
                    <td>@feedback.Content</td>
                    <td>@feedback.SubmittedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@feedback.UserId </td>

                    <div>
                        <p>@feedback.Content</p>
                        <p>@feedback.SubmittedAt</p>
                        <a href="@Url.Action("ConfirmDelete", "Feedback", new { id = feedback.Id })" class="btn btn-warning">Delete</a>
                    </div>
                </tr>
            }
        </tbody>
    </table>
</div>
